a2wsgi==1.10.10
aiofile==3.11.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp_socks==0.11.0
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
asyncio-atexit==1.0.1
attrs==26.1.0
azure-ai-documentintelligence==1.0.2
azure-core==1.41.0
azure-identity==1.25.3
beautifulsoup4==4.14.3
blinker==1.9.0
brotli==1.2.0
browser-cookie3==0.20.1
caio==0.9.25
cairocffi==1.7.1
CairoSVG==2.9.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.0
cloudscraper==1.2.71
cobble==0.1.4
colorama==0.4.6
coloredlogs==15.0.1
cryptography==48.0.0
cssselect2==0.9.0
curl_cffi==0.15.0
ddgs==9.14.4
defusedxml==0.7.1
Deprecated==1.3.1
emoji==2.15.0
et_xmlfile==2.0.0
fake-useragent==2.2.0
fastapi==0.136.1
Flask==3.1.3
flatbuffers==25.12.19
frozenlist==1.8.0
g4f==7.5.5
grapheme==0.6.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
hyperframe==6.1.0
idna==3.15
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.1
lz4==4.4.5
magika==0.6.3
mammoth==1.11.0
markdown-it-py==4.2.0
markdownify==1.2.2
markitdown==0.1.5
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
msal==1.36.0
msal-extensions==1.3.1
mss==10.2.0
multidict==6.7.1
nest-asyncio2==1.7.2
numpy==2.4.6
olefile==0.47
onnxruntime==1.20.1
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
platformdirs==4.9.6
primp==1.2.3
propcache==0.5.2
protobuf==7.34.1
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
Pygments==2.20.0
PyJWT==2.12.1
pyparsing==3.3.2
pypdfium2==5.8.0
pyreadline3==3.5.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.29
python-pptx==1.0.2
python-socks==2.8.1
pywin32==311
PyYAML==6.0.3
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
shadowcopy==0.0.4
six==1.17.0
socksio==1.0.0
soupsieve==2.8.3
SpeechRecognition==3.16.1
starlette==1.0.0
sympy==1.14.0
tinycss2==1.5.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
uvicorn==0.47.0
wasmtime==44.0.0
webencodings==0.5.1
websockets==16.0
Werkzeug==3.1.8
WMI==1.5.1
wrapt==2.1.2
xlrd==2.0.2
xlsxwriter==3.2.9
yarl==1.23.0
youtube-transcript-api==1.0.3
zendriver==0.15.3
